services:
  bible-api:
    container_name: bible-api
    build: .
    ports:
      - "80:8000"
    env_file:
      - .env
    restart: always
    networks:
      - mysql_default

networks:
  mysql_default:
    external: true
