services:

  bible-api:
    container_name: bible-api
    #image: python:3.12.4
    build: .
    #command: sleep 10000000
    ports:
      - 8000:8000
      - 80:8000
    volumes:
      - ./:/code/
      # depends on installation
      - ../php-parser:/php-parser:ro
    restart: always
    #networks:
    #  mysql_mysql_net:

#networks:
#  mysql_mysql_net:
#    external: true