services:
  bible-api:
    container_name: bible-api
    build: .
    ports:
      - "8084:8000"
    env_file:
      - .env
    volumes:
      # Host path with mp3 files. Set AUDIO_DIR in .env
      - ${AUDIO_DIR:?set AUDIO_DIR}:/audio
    restart: always
    networks:
      - mysql_default
    command: ["fastapi", "dev", "app/main.py", "--host", "0.0.0.0", "--port", "8000"]

networks:
  mysql_default:
    external: true